@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0;}
li{ list-style:none;}
a{ text-decoration:none;}
textarea{ resize:none;}
input,img,textarea,select{ vertical-align:top;}
input,textarea,select{outline:none;}
i{font-style:normal;}
body{ background:#f4f4f4; }